APP_NAME=

APP_PORT =
APP_URL=

MAINTENANCE_MODE=

TEMP_APP_PORT=
TEMP_APP_URL=

MONGO_DB_URL_LOCAL=

MONGO_DB_URL=
DB_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

ALLOWED_CORS_REACT_URL=





